body { 
    padding-top: 100px;
    background-color: rgb(250,250,250);
}

h1, h2, h3, h4, h5, h6, th, p{
    color: rgb(100, 100, 100);
}

p {
    margin-bottom: 5px;
}

a:hover {
    color: white;
}

a:focus {
    outline: none;
}

.btn:active,
.btn:visited,
.btn:hover,
.btn:focus,
.btn {
    background-color: #ef1d4a;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    color: #fff;
}

.btn-cancel:active,
.btn-cancel:visited,
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel {
    background-color: #aaa;
}

.messages-box {
    position: fixed;
    bottom:25px;
    left:25px;
    color: white;
}

.message {
    float: left;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    clear: left;
    display: none;
}

.page-title {
    margin-bottom: 40px;
}

.product {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    height: 300px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}

.product-title {
    margin-bottom: 20px;
}

.buttom-link {
    color: white;
    font-weight: 500;
    display: block;
    text-decoration: none !important;
}

.button-container {
    position: absolute;
    bottom: 25px;
    width: 100%;
}

.item-quantity {
    width: 60px;
    display: inline;
}

.delete-btn:active,
.delete-btn:visited,
.delete-btn:hover,
.delete-btn:focus,
.delete-btn {
    background-color: transparent;
    display: inline;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}

.opinion {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#addToCart {
    font-weight: 500;
}

#search-icon {
    height: 16px;
    width: 16px;
    color: rgb(165, 39, 39);
}

#cart-icon {
    font-size: 1.5em;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 76px;
    left: 0;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    background-color: rgb(235, 235, 235);
}

.sidenav h6 {
    color: #777;
    font-size: 18px;
    margin: 0px;
}

.side-title {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #ccc;
}

.main {
    margin-left: 270px; /* Same as the width of the sidenav */
}

.side-links {
    margin-top: 15px;
}

.divisor {
    border-top: 1px solid #ddd;
    margin: 15px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}