nav {
    background-color: #ef1d4a;
}

.navbar-item {
    height: 36px;
}

.nav-link {
    color: white;
    font-weight: 500;
}

.logo {
    height: 50px;
    width: 200px;
}

.search-bar:focus,
.search-bar {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    height: 36px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.form-control:focus {
    outline: none;
    border-color: rgb(205, 211, 217);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-btn:hover,
.search-btn {
    background-color: white;
    height: 36px;
    width: 36px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    padding: 0px;
    margin-right: 15px;
    border: none;
}

.form-subtitle {
    margin-bottom: 20px;
}