<!-- Navigation Bar -->
<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/app/home.html"><img src="/imgs/logo.jpeg" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="left-bar">
            </ul>

            <ul class="navbar-nav" id="right-bar">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/app/home.html">
                        <input class="form-control search-bar" aria-label="Search" id="search" name="search" placeholder="Pesquisar produtos">
                        <button class="btn btn-default search-btn" type="submit"><span class="fa fa-search" id="search-icon"></span></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


  
<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signup-title" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="signup-title">Criar uma nova conta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="signUp">

            <div style="border-bottom: 1px solid #dddddd; margin-bottom: 20px;">
                <h6 class="form-subtitle">Dados cadastrais</h6>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="signUpName" placeholder="Nome">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="signUpCpf" placeholder="CPF">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="signUpEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" id="signUpPassword" placeholder="Senha">
                    </div>
                </div>
            </div>

            <div>
                <h6 class="form-subtitle">Dados para envio</h6>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="signUpCep" placeholder="Cep">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="signUpCountry" placeholder="País">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="signUpState" placeholder="Estado">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="signUpCity" placeholder="Cidade">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="signUpNeighborhood" placeholder="Bairro">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="signUpStreet" placeholder="Rua">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="signUpHouseNumber" placeholder="Número">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn" id="signUpBtn">Cadastrar</button>
    </div>
    </div>
</div>
</div>

<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signin-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="signin-title">Entrar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="signIn">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="signInEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" id="signInPassword" placeholder="Senha">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn" id="signInBtn">Entrar</button>
        </div>
        </div>
    </div>
</div>

<script src="/js/navbar.js"></script>